<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hospital Management</title>
  <link rel = "icon" href ="https://imgs.search.brave.com/Es8hdGpyvttX3cXD4flKTY9tjKGQzRsb-XuJzXnxRYE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL2hvc3BpdGFs/LXBuZy1oZC1pbWFn/ZXMtbW91bnQtc2lu/YWktaG9zcGl0YWwt/NTAwLnBuZw"
        type = "image/x-icon"> 
          

</head>

<body>
  {% include "hospital/navbar.html" %}
  {%block content%}

  {%endblock content%}
  {% include "hospital/footer.html" %}
</body>


</html>
